.dj_ie .infowindow .window .top .right .user .content { position: relative; }
      .dj_ie .simpleInfoWindow .content {position: relative;}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
      #leftPane{
        width:255px;
        border:none;
      }
      #map{
        padding:0;
      }
      #header{
        font-weight:600;
        font-size:14pt;
        color:#666666;
        padding-left:20px;
      }

.dialogError_text {
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: bold;
}

.dialog_text {
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 12px !important;
	font-weight: bold;
}


        #GISDocText {
              position: fixed;
              float: left;
              margin-left: auto;
              margin-right: auto;
              bottom: 50px;
              color: black;
              z-index: 200;
              text-align: center;
              width: 100%;
          }


			#GISDocText h3 {
				font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
				font-weight: bold;
				text-align: center;
				font-size: 24px;
			}

          #processinggisdiv {
              position: fixed;
              float: left;
              margin-left: 49%;
              bottom: 20px;
              color: black;
              z-index: 200;
              text-align: center;
              width: 100%;
          }

/* Classes */

.button100:hover {
	background: #212529;
	text-decoration: none;
}

.button100 {
	background: #2C3E50;
	border-radius: 0.25rem;
	position: relative;
	height: 30px;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	z-index: 0;
	padding-right: 20px;
	padding-left: 20px;
	/*padding-top: 5px;*/
	/*padding-bottom: 5px;*/
	text-decoration: none;
	margin-top: 20px;
	margin-left: 0px;
}

.bg {
	display: block;
	background-color: #fff;
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
}
.rounded {
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
}
.shadow {
	-moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000')";
}
.panelTitle {
	position: absolute;
	height: 200px;
	right: 15px;
	top: 15px;
	color: #212529;
	font-size: 15px;
	font-weight: normal;
	line-height: 5px;
	padding: 0px;
	text-align: right;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	width: 320px;
}

.line {
	border-left: 1px solid #fff;
}


input[type="file"]::-webkit-file-upload-button:hover {
	background: #212529 !important;
	color: #fff;
	border-radius: 0.25rem;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	z-index: 0;
	text-decoration: none;
}

input[type="file"]::-webkit-file-upload-button {
	background: #2C3E50 !important;
	color: #fff;
	border-radius: 0.25rem;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	z-index: 0;
	text-decoration: none;
}

h1 {
	font-size: 25px;
	color: #212529;
	margin-right: 5px;
}
    
    h2 {
       font-size: 9px;
       margin-right:5px;
       /*font-family: 'Tahoma', cursive;*/
    }    
     .file-upload-status {
    	vertical-align: middle;
    	padding: 5px 11px;
        margin-right: 5px;
    	font-size: 12px;
    	}
 
    .selectClass {
       font-size: 12px;
       font-family: 'Arial', cursive;
       width: 95%;
    }​
  
     .esriScalebar
     {
        left:2px; 
        bottom:35px;
     }
     
 /* BASEMAPS */
.panelBasemaps {
	position: absolute;
	/*top: 295px;*/
	top: 415px;
	right: 15px;
	width: 140px;
	height: 30px;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #212529;
	font-size: 14px;
	padding: 0px;
	overflow: hidden;
}

    .panelBasemapsOn {
	    height: 400px;
    }

#basemapTitle {
	display: block;
	width: 140px;
	height: 30px;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	padding: 0px;
	background: #2C3E50;
}


#basemapContent {
	display: block;
	width: 140px;
	height: 350px;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	text-align: center;
	cursor: pointer;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0px;
}    
    
    /* panelLayers2Toggle */
.panelLayers2Toggle {
	position: absolute;
	top: 220px;
	right: 15px;
	width: 200px;
	height: 180px;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #212529;
	font-size: 14px;
	padding: 5px;
	overflow: hidden;
}

    .panelLayers2ToggleOn {
	    height: 400px;
    }



.alignleft {
	float: left;
	background: #2C3E50;
	color: #fff;
	border-radius: 0.25rem;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	z-index: 0;
	text-decoration: none;
}

	.alignleft:hover {
		background: #212529;
		text-decoration: none;
	}

.alignright {
	float: right;
}

    /* nextButtonPanel */
.nextButtonPanel {
	position: absolute;
	bottom: 50px;
	right: 15px;
	font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #212529;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
}
