/* Classes */

.bg {
	display: block;
	background-color: #C8C8C8;
	filter: alpha(opacity=80);
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
}

.rounded {
	-moz-border-radius: 0px 0px 0px 0px;
	-webkit-border-radius: 0px 0px 0px 0px;
	border-radius: 0px 0px 0px 0px;
}

.shadow {
	-moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000')";
}


.panelTitle {
	position: absolute;
	height: 84px;
	right: 15px;
	top: 55px;
	color: #000000;
	font-size: 28px;
	font-weight: normal;
	line-height: 40px;
	padding: 0px;
	text-align: right;
}


#panelMain {
	width: 575px;
	height: 34px;
	overflow: hidden;
	float: Right;
	line-height: 30px;
	font-weight: normal;
    margin-right: 5px;
}

#panelContainer {
	margin: auto;
	width: 880px;
	height: 90px;
	overflow: hidden;
	display: none;
}


.panelTitleDraft {
	position: absolute;
	height: 33px;
	right: 15px;
	top: 15px;
	color: #FF0000;
	font-size: 28px;
	font-weight: normal;
	line-height: 40px;
	padding: 0px;
	text-align: right;
}


#panelMainDraft {
	width: 575px;
	height: 34px;
	overflow: hidden;
	float: Right;
	line-height: 30px;
	font-weight: normal;
    margin-right: 5px;
}


.col {
	position: relative;
	width: 219px;
	height: 80px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	display: none;
	text-align: center;
	float: left;
}

.line {
	border-left: 1px solid #fff;
}

